@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geist:wght@400;500;600;700&family=Geist+Mono:wght@500;600;700&family=Jost:wght@400;500;600;700&family=Sen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
  }
}
